<% layout('/layouts/boilerplate') -%>
<body>
   <div class="row">
     
    <h3 class="offset-2">Listing details:</h3>
    <div class="card col-6 offset-2 show-card">
        <div class="card" >
            <img src="<%= listing.image %>" class="card-img-top show-img" alt="listing">
            <div class="card-body">
                <p class="card-text">
                    <b><%= listing.title %></b></p>
                    <%= listing.description %><br>
                    ₹ <%= listing.price.toLocaleString("en-IN") %><br>
                    <%= listing.location %><br>
                    <%= listing.country %><br>
                    
                </p>
            </div>
        </div>
    </div>
    <br />
   <div class="btns">
   <form method="POST" action="/listings/<%= listing._id %>?_method=DELETE">


   <form method="POST" action="/listings/<%= listing._id %>?_method=DELETE">
  <button class="btn btn-outline-danger offset-4" type="submit">Delete</button>
   </div>
</div>
</form>
</body>
    


   