<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hotel Booking</title>
</head>
<body>
    <h3>Listing details:</h3>
    <ul>
        <li><%= lisiting.title %></li>
        <li><%= lisiting.description %></li>
        <li><%= lisiting.price.toLocaleString("en-IN") %></li>
        <li><%= lisiting.location %></li>
        <li><%= lisiting.country %></li>
    </ul>
    <br>
    <a href="/listings/<%= listing._id%>/edit">Edit this Listing</a>
</body>
</html>